# Required Python packages get listed here, one per line.

runpod~=1.7.9
os
base64
io
PIL
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu118
diffusers
transformers
accelerate
safetensors
